<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<button mat-button color="primary">test</button>

<div class= "mat-display-4">나는</div>
<div class= "mat-display-3">나는</div>
<div class= "mat-display-2">나는</div>
<div class= "mat-display-1">나는</div> -->
<app-head></app-head>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened >
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
ddd
<app-footer></app-footer>
